#cards .item {
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all .2s, transform 1s, opacity .5s;
  -moz-transition: all .2s, transform 1s, opacity .5s;
  -ms-transition: all .2s, transform 1s, opacity .5s;
  -o-transition: all .2s, transform 1s, opacity .5s;
  transition: all .2s, transform 1s, opacity .5s; }
  #cards .item.loading {
    opacity: .3; }
  #cards .item * {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  #cards .item .album-id {
    background: #333;
    padding: 5px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  #cards .item:hover {
    background: #3c3c3c; }
    #cards .item:hover .album-id {
      opacity: .8; }
  #cards .item.unreleased {
    color: #000;
    background: #eee; }
    #cards .item.unreleased:hover {
      background: #c8c8c8; }
    #cards .item.unreleased .album-id {
      color: white; }
  #cards .item .album-info * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  #cards .item .album-artist {
    margin-bottom: 3px;
    font-weight: 500; }
  #cards .item .album-title {
    opacity: .8;
    margin-bottom: 2px; }

.item-list {
  margin: 0 20px;
  padding: 20px 0;
  height: 100px; }
  .item-list > * {
    display: inline-block; }
  .item-list img {
    width: 100px;
    height: 100px;
    margin: 0 20px; }
  .item-list .album-id {
    float: right;
    margin-top: 5px;
    margin-right: 25px;
    opacity: .4; }
  .item-list .album-info {
    position: relative;
    top: -18px; }
    .item-list .album-info * {
      width: 870px; }
  .item-list .album-artist {
    font-size: 25px; }
  .item-list .album-title {
    font-size: 20px; }

.item-card {
  margin: 20px;
  background: #222;
  width: calc(20% - 40px);
  float: left; }
  @media screen and (min-width: 1440px) {
    .item-card {
      width: calc(16.66% - 40px); } }
  @media screen and (min-width: 1680px) {
    .item-card {
      width: calc(14.28% - 40px); } }
  @media screen and (min-width: 1920px) {
    .item-card {
      width: calc(12.5% - 40px); } }
  @media screen and (min-width: 2160px) {
    .item-card {
      width: calc(11.11% - 40px); } }
  @media screen and (min-width: 2400px) {
    .item-card {
      width: calc(10% - 40px); } }
  .item-card img {
    width: 100%;
    position: absolute; }
  .item-card .album-id {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0; }
  .item-card .album-info {
    padding: calc(100% + 20px) 15px 15px;
    height: 40px; }
    .item-card .album-info * {
      width: 170px; }
  .item-card .album-artist {
    font-size: 15px; }
  .item-card .album-title {
    font-size: 13px; }

.cards-list-enter, .cards-list-leave-to {
  opacity: 0 !important;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px); }

.cards-list-leave-active {
  position: absolute !important; }
